---
layout: default
---


<div class="heading" id="toc">
  <h2>Spis treści</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Składnia</a></li>
      <li><a href="#html-doctype">Doctype HTML5</a></li>
      <li><a href="#html-lang">Atrybut języka</a></li>
      <li><a href="#html-encoding">Kodowanie znaków</a></li>
      <li><a href="#html-ie-compatibility-mode">Tryb zgodności IE</a></li>
      <li><a href="#html-style-script">Wstawki CSS i JavaScript</a></li>
      <li><a href="#html-practicality">Praktyczność ponad pedantyzmem</a></li>
      <li><a href="#html-attribute-order">Kolejność atrybutów</a></li>
      <li><a href="#html-boolean-attributes">Atrybuty logiczne</a></li>
      <li><a href="#html-reducing-markup">Redukcja kodu</a></li>
      <li><a href="#html-javascript">Kod generowany w JavaScript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">Składnia</a></li>
      <li><a href="#css-declaration-order">Kolejność deklaracji</a></li>
      <li><a href="#css-import">Nie używaj @import</a></li>
      <li><a href="#css-media-queries">Media query placement</a></li>
      <li><a href="#css-prefixed-properties">Prefixed properties</a></li>
      <li><a href="#css-single-declarations">Rules with single declarations</a></li>
      <li><a href="#css-shorthand">Notacja skrócona</a></li>
      <li><a href="#css-nesting">Zagnieżdżanie w Less i Sass</a></li>
      <li><a href="#css-comments">Komentarze</a></li>
      <li><a href="#css-classes">Klasy</a></li>
      <li><a href="#css-selectors">Selektory</a></li>
      <li><a href="#css-organization">Organizacja kodu</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Złota zasada</h2>
    <p>Staraj się zawsze używać tych samych, uzgodnionych reguł – poniższych lub własnych. Wszystkie błędy lub rozszerzenia możesz <a href="https://github.com/macie/przewodnik-stylu/issues/new">zgłosić na GitHubie</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Kod źródłowy powinnien wyglądać tak, jakby był napisany przez jedną osobę.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Składnia</h3>
    <ul>
      <li>Używaj wcięć o rozmiarze dwóch spacji — tylko ta metoda zagwarantuje taki sam wygląd kodu zawsze i wszędzie.</li>
      <li>Elementy zagnieżdżone powinny być wcięte raz (dwie spacje).</li>
      <li>Używaj znaku podwójnego cudzysłowu <code>"</code> dla atrybutów.</li>
      <li>Nie kończ ukośnikiem automatycznie zamykanych znaczników (np. <code>&lt;img&gt;</code>). Według <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">specyfikacji HTML5 <small>[EN]</small></a> jest to zbędne.</li>
      <li>Nie opuszczaj opcjonalnych znaczników zamykających (np. <code>&lt;/li&gt;</code> lub <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>Doctype HTML5</h3>
    <p>Używaj wywołania <code>doctype</code> na początku każdej strony HTML. W ten sposób wymusisz standardowe i spójne renderowanie kodu we wszystkich przeglądarkach.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Atrybut języka</h3>
    <p>Za specyfikacją HTML5:</p>
    <blockquote>
      <p>Zachęcamy autorów do określenia języka dokumentu przez podanie atrybutu języka <code>lang</code> w głównym znaczniku <code>&lt;html&gt;</code>. To pomoże syntezatorom mowy wybrać odpowiednią wymowę, programom tłumaczącym – odpowiednią gramatykę, itd.</p>
    </blockquote>
    <p>Przeczytaj więcej o tym atrybucie <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">w specyfikacji <small>[EN]</small></a>.</p>
    <p><a href="http://webmaster.helion.pl/index.php/kodyjezykowe/5-kurs-html/501-kodyjezykowe?tmpl=component&print=1">Lista kodów języków</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Tryb zgodności IE</h3>
    <p>Internet Explorer pozwala wybrać wersję przeglądarki, z jaką jest zgodna dana strona HTML, używając znacznika <code>&lt;meta&gt;</code>. Najczęściej najlepszym rozwiązaniem będzie zadeklarowanie najnowszego wspieranego trybu – <strong>edge</strong>.</p>
    <p>Więcej informacji znajdziesz <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">w tym świetnym wątku na Stack Overflow <small>[EN]</small></a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Kodowanie znaków</h3>
    <p>Szybko i łatwo zapewnisz prawidłowe renderowanie strony, jeśli zadeklarujesz kodowanie znaków. Dzięki temu zamiast używać kodów HTML będziesz mógł wpisywać znaki bezpośrednio z klawiatury.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Wstawki CSS i JavaScript</h3>
    <p>W HTML5 nie musisz deklarować atrybutu <code>type</code> kiedy dołączasz pliki CSS i JavaScript. Wartości <code>text/css</code> i <code>text/javascript</code> są dla niego domyślne.</p>
    <h4>Specyfikacja HTML5:</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">znacznik link <small>[EN]</small></a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">znacznik style <small>[EN]</small></a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">znacznik script <small>[EN]</small></a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Praktyczność ponad pedantyzmem</h3>
    <p>Staraj się używać prawidłowej składni i pisać zgodnie ze standardami, ale nie kosztem praktyczności. Ograniczaj korzystanie z rozbudowanych i zawiłych konstrukcji.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Kolejność atrybutów</h3>
    <p>Dla zachowania czytelności atrybuty HTML używaj w następującej kolejności:</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>Klasy służą do oznaczania dużej liczby powtarzalnych elementów, więc są na pierwszym miejscu. Identyfikatory będą tuż za nimi, ponieważ są bardziej szczegółowe i powinny występować rzadziej (np. w celu stworzenia odnośników wewnętrz strony).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Atrybuty logiczne</h3>
    <p>Atrybuty logiczne są jedynymi atrybutami, które nie muszą posiadać wartości. Co prawda XHTML wymaga jawnej deklarcji wartości, ale w HTML5 nie musisz tego robić.</p>
    <p>WhatWG tak pisze <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">o tych atrybutach <small>[EN]</small></a>:</p>
    <blockquote>
      <p>Obecność atrybutu logicznego oznacza, że posiada on wartość <code>prawda</code>, a brak takiego atrybutu – wartość <code>fałsz</code>.</p>
    </blockquote>
    <p>Jeśli <em>musisz</em> określić jego wartość albo <strong>nie chcesz tego robić</strong>, postępuj zgodnie z wytycznymi WhatWG:</p>
    <blockquote>
      <p>Jeśli atrybut jest obecny, to jego wartość powinna być pustym łańcuchem znakowym lub [...] nazwą atrybutu, nie otoczoną znakami niedrukowalnymi.</p>
    </blockquote>
    <p><strong>W skrócie: nie określaj wartości atrybutów logicznych.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Redukcja kodu</h3>
    <p>Tam gdzie to możliwe unikaj nadmiarowej liczby znaczników HTML. Czasami zmiany będą wymagały trochę pracy, ale dzięki temu otrzymasz mniejszy i szybszy stronę.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Kod generowany w JavaScript</h3>
    <p>Generowanie kodu HTML w JavaScript utrudnia znalezienie treści, pracę nad kodem i nie jest wydajne. Unikaj tego jeśli tylko możesz.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Składnia</h3>
    <ul>
      <li>Używaj wcięć o rozmiarze dwóch spacji — tylko ta metoda zagwarantuje taki sam wygląd kodu zawsze i wszędzie.</li>
      <li>Grupując selektory umieszczaj każdy w osobnym wierszu.</li>
      <li>Otwierający nawias klamrowy <code>{</code> poprzedzaj jedną spacją.</li>
      <li>Zamykający nawias klamrowy <code>}</code> zapisuj w nowym wierszu.</li>
      <li>Po każdym dwukropku <code>:</code> wstawiaj spację.</li>
      <li>Deklaracje umieszczaj w osobnych liniach. Dzięki temu komunikaty o błędach będą bardziej czytelne.</li>
      <li>Każdą deklarację kończ średnikiem. Choć w przypadku ostatniej deklaracji nie jest to wymagane, to w ten sposób zabezpieczysz się przed błędami.</li>
      <li>Dodawaj spację po przecinku dla wartości właściwości rozdzielanych przecinkami (np. <code>box-shadow</code>).</li>
      <li>Nie używaj spacji po przecinkach <em>wewnątrz</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code> i <code>rect()</code>. Ułatwi to odróżnianie definicji koloru (przecinek bez spacji) od wielokrotnych wartości właściwości (przecinek ze spacją).</li>
      <li>Nie poprzedzaj wartości zerem (np. pisz <code>.5</code> zamiast <code>0.5</code> oraz <code>-.5px</code> zamiast <code>-0.5px</code>).</li>
      <li>Wszystkie wartości szestnastkowe zapisuj małymi literami (np. <code>#fff</code>). Ze względu na ich kształt, mózg ludzki łatwiej rozróżnia małe litery.</li>
      <li>Tam gdzie to możliwe używaj skróconych wartości szestnastkowych (np. <code>#fff</code> zamiast <code>#ffffff</code>).</li>
      <li>Umieszczaj w cudzysłowiu wartości atrybutów w selektorze (np. <code>input[type="text"]</code>). Choć <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">czasami jest to opcjonalne <small>[EN]</small></a>, to jednak lepiej trzymać się spójnego stylu.</li>
      <li>Unikaj podawania jednostek dla wartości zero (np. zamiast <code>margin: 0px;</code> pisz <code>margin: 0;</code>).</li>
    </ul>
    <p>Nie wiesz co oznaczają powyższe określenia? Poczytaj o <a href="http://pl.wikipedia.org/wiki/Kaskadowe_arkusze_styl%C3%B3w#Sk.C5.82adnia_arkuszy">składni CSS na Wikipedii <small>[PL]</small></a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Kolejność deklaracji</h3>
    <p>Deklaracje właściwości grupuj według następującego porządku:</p>
    <ol>
      <li>Rozmieszczenie</li>
      <li>Model pudełkowy</li>
      <li>Typografia</li>
      <li>Wygląd</li>
    </ol>
    <p>Rozmieszczenie jest pierwsze, ponieważ nadpisuje zastany model pudełkowy. Następne są definicje modelu pudełkowego ustalające wymiary i położenie elementu.</p>
    <p>Reszta dotyczy <em>wnętrza</em> elementu lub nie wpływa na poprzednie dwie sekcje.</p>
    <p>Pełną listę właściwości i ich kolejności znajdziesz na stronie <a href="http://twitter.github.com/recess">Recess <small>[EN]</small></a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Nie używaj <code>@import</code></h3>
    <p>Polecenie <code>@import</code> w porównaniu do znacznika <code>&lt;link&gt;</code> jest wolniejsze, wymaga wysłania dodatkowych żądań do serwera i może spowodować inne nieprzewidziane problemy. Zamiast niego wypróbuj inne metody:</p>
    <ul>
      <li>stosuj wiele znaczników <code>&lt;link&gt;</code>,</li>
      <li>używaj preprocesora CSS w rodzaju Sass lub Less do stworzenia skompresowanego pliku,</li>
      <li>łącz pliki CSS w jeden plik korzystając z narzędzi takich jak Rails, Jekyll lub innych.</li>
    </ul>
    <p>Więcej informacji znajdziesz w <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">artykule Steve'a Soudersa <small>[EN]</small></a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Media query placement</h3>
    <p>Place media queries as close to their relevant rule sets whenever possible. Don't bundle them all in a separate stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future. Here's a typical setup.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Prefixed properties</h3>
    <p>When using vendor prefixed properties, indent each property such that the declaration's value lines up vertically for easy multi-line editing.</p>
    <p>W Textmate użyj <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). W Sublime Text: <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) i <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Single declarations</h3>
    <p>In instances where a rule set includes <strong>only one declaration</strong>, consider removing line breaks for readability and faster editing. Any rule set with multiple declarations should be split to separate lines.</p>
    <p>The key factor here is error detection—e.g., a CSS validator stating you have a syntax error on Line 183. With a single declaration, there's no missing it. With multiple declarations, separate lines is a must for your sanity.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Notacja skrócona</h3>
    <p>Strive to limit use of shorthand declarations to instances where you must explicitly set all the available values. Common overused shorthand properties include:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Often times we don't need to set all the values a shorthand property represents. For example, HTML headings only set top and bottom margin, so when necessary, only override those two values. Excessive use of shorthand properties often leads to sloppier code with unnecessary overrides and unintended side effects.</p>
    <p>The Mozilla Developer Network has a great article on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a> for those unfamiliar with notation and behavior.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Zagnieżdżanie w Less i Sass</h3>
    <p>Unikaj niepotrzebnego zagnieżdżania. To że możesz to zrobić nie oznacza, że musisz. 

    Consider nesting only if you must scope styles to a parent and if there are multiple elements to be nested.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Komentarze</h3>
    <p>Code is written and maintained by people. Ensure your code is descriptive, well commented, and approachable by others. Great code comments convey context or purpose. Do not simply reiterate a component or class name.</p>
    <p>Be sure to write in complete sentences for larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Nazewnictwo klas</h3>
    <ul>
      <li>Keep classes lowercase and use dashes (not underscores or camelCase). Dashes serve as natural breaks in related class (e.g., <code>.btn</code> and <code>.btn-danger</code>).</li>
      <li>Avoid excessive and arbitrary shorthand notation. <code>.btn</code> is useful for <em>button</em>, but <code>.s</code> doesn't mean anything.</li>
      <li>Keep classes as short and succinct as possible.</li>
      <li>Use meaningful names; use structural or purposeful names over presentational.</li>
      <li>Prefix classes based on the closest parent or base class.</li>
      <li>Use <code>.js-*</code> classes to denote behavior (as opposed to style), but keep these classes out of your CSS.</li>
    </ul>
    <p>It's also useful to apply many of these same rules when creating Sass and Less variable names.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selektory</h3>
    <ul>
      <li>Use classes over generic element tag for optimum rendering performance.</li>
      <li>Avoid using several attribute selectors (e.g., <code>[class^="..."]</code>) on commonly occuring components. Browser performance is known to be impacted by these.</li>
      <li>Keep selectors short and strive to limit the number of elements in each selector to three.</li>
      <li>Scope classes to the closest parent <strong>only</strong> when necessary (e.g., when not using prefixed classes).</li>
    </ul>
    <p>Additional reading:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Organizacja kodu</h3>
    <ul>
      <li>Organize sections of code by component.</li>
      <li>Develop a consistent commenting hierarchy.</li>
      <li>Use consistent white space to your advantage when separating sections of code for scanning larger documents.</li>
      <li>When using multiple CSS files, break them down by component instead of page. Pages can be rearranged and components moved.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Ustawienia edytora tekstu</h3>
    <p>Set your editor to the following settings to avoid common code inconsistencies and dirty diffs:</p>
    <ul>
      <li>używaj dwuspacjowych wcięć,</li>
      <li>usuwaj znaki niedrukowalne (spacje, tabluatury, itd.) występujące na końcu wiersza,</li>
      <li>używaj kodowania UTF-8,</li>
      <li>kończ pliki pustym wierszem.</li>
    </ul>
    <p>Consider documenting and applying these preferences to your project's <code>.editorconfig</code> file. For an example, see <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">the one in Bootstrap</a>. Learn more <a href="http://editorconfig.org">about EditorConfig</a>.</p>
  </div>
</div>
